<?xml version="1.0" encoding="UTF-8" ?>
<phpunit backupGlobals="true"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="false"
         convertWarningsToExceptions="false"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncompleste="false"
         stopOnSkipped="false"
         syntaxCheck="true"
         strict="true"
         verbose="true"
         bootstrap="tests/bootstrap.php">
  <testsuites>
    <testsuite name="Currency Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
</phpunit>